@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #fff;
	/*background: linear-gradient(0deg, #0b74cb 0%, #0b74cb 50%, #fff 50%, #fff 100%); */
}
.container{
	
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transition: 0.5s;
}
.container .card{
	position: relative;
	width: 300px;
	height: 250px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
.container:hover .card{
	filter: blur(5px);
	transform: scale(.7);
}
.container .card:hover{
	filter: blur(0px);
	transform: scale(1);
}
.container .card:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1;
	transition: 0.5s;
}
.container .card:hover:before{
	background: #2196f3;
	transform: scaleY(1.15);
	box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.container .card .content{
	text-align: center;
	z-index: 2;
	padding: 0 20px;
	transition: 0.5s;
}
.container .card:hover .content{
	color: #fff;
}
.container .card .content h2{
	font-size: 3em;
}
.container .card .content p{
	font-size: 0.9em;
}
.container .card .content a{
	display: inline-block;
	margin-top: 15px;
	padding: 5px 10px;
	background: #262626;
	color: #fff;
	text-decoration: none;
}
.container .card:hover .content a{
	background: #fff;
	color:#2196f3;
}






#head_back{
    position: fixed; 
    left:50px;
	top:50px;
	color:#2196f3;
	font-size:32px;
	text-align:center;
}
#head_back a {text-decoration: none;font-weight:lighter;}/* 文字链接取消下划线 */
#head_back a:link {color: #2196f3;}/* 未访问的链接 */
#head_back a:visited {color: #2196f3}/* 已访问的链接 */
#head_back a:hover {color: #2196f3} /* 鼠标移动到链接上 */
#head_back a:active {color: #2196f3} /* 选定的链接 */



#head{
    position: fixed; 
	top:50px;
	color:#2196f3;
	font-size:32px;
	text-align:center;
}
#head a {text-decoration: none;font-weight:lighter;}/* 文字链接取消下划线 */
#head a:link {color: #2196f3;}/* 未访问的链接 */
#head a:visited {color: #2196f3}/* 已访问的链接 */
#head a:hover {color: #2196f3} /* 鼠标移动到链接上 */
#head a:active {color: #2196f3} /* 选定的链接 */

#page-bottom{
    margin: 0;
    padding: 40 100 20 100;
    color:#FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed; bottom: 0;
    text-align:center;
}

#page-bottom a {text-decoration: none;font-weight:lighter;}/* 文字链接取消下划线 */
#page-bottom a:link {color: #000;}/* 未访问的链接 */
#page-bottom a:visited {color: #000}/* 已访问的链接 */
#page-bottom a:hover {color: #D3D3D3} /* 鼠标移动到链接上 */
#page-bottom a:active {color: #D3D3D3} /* 选定的链接 */


#code{
    font-family:'Courier New', Courier, monospace;
    color:grey;
    font-weight: bolder;
}

